@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
   box-sizing: border-box;
}

html {
   font-family: "Noto Sans JP", sans-serif;
}

body {
   margin: 0;
   background: #1e1e1e;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

button {
   font: inherit;
   font-weight: bold;
   cursor: pointer;
   padding: 0.25rem 0.25rem;
   border-radius: 4px;
   border-style: none;
}
