.main{
   background: black;
   border-radius: 3px;
}

.main img{
   height: 240px;
   width: 100%;
   object-fit: contain;
}

.footer{
   display: flex;
   height: 36px;
   align-items: center;
   padding: 5px;
   color: #fff1f1;
   background: linear-gradient(
      to right bottom,
      rgba(97, 87, 255, 0.7),
      rgba(97, 87, 255, 0.3)
   );
}

.footer .left{
   min-width: 0;
   margin-right: 5px;
   display: flex;
   align-items: center;
   flex: 1;
}

.footer .left .title{
   max-width: 100%;
   font-size: 11px;
   margin:0;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}


.footer .right{
   min-width: 35px;
   display: flex;
   align-items: center;
}

.count{
   font-size: 12px;
   margin-right: 5px;
}

.footer .userAvatar > img{
   width: 15px;
   height: 15px;
   margin-right: 6px;
}