.home {
   display: flex;
   flex-direction: row;
   width: 80%;
   align-items: center;
   justify-content: space-between;
   margin: auto;
   margin-top: 2rem;
}

.content {
   width: 60%;
   color: whitesmoke;
}
 
 .home-img{
   width: 65%;
   height: 65%;
   display: block;
   margin: auto;
 }

 @media (min-width: 1100px){
   .content {
      width: 60%;
      color: whitesmoke;
   }
}

@media (min-width: 800px) and (max-width: 1100px) {
   .home {
      flex-direction: column;
      width: 100%;
   }
}

@media (max-width: 800px) {
   .home {
      flex-direction: column;
      width: 100%;
   }
   .content {
      width: 70%;
      color: whitesmoke;
   }
}