.cardsContainer {
   margin-top: 2rem;
   width: 100%;
   margin-left: auto;
   margin-right: auto;

   --li-width-1100-1920: calc(25% - 15px);
   --li-width-1920: calc(25% - 15px);
   --li-width-800-1100: calc(33% - 15px);
   --li-width-500-800: calc(50% - 15px);
   --li-width-500: calc(100% - 23px);

   --ul-width: calc(80% + 22px);
   --ul-width-1920: calc(1536px + 22px);
}

.cardsContainer ul{
   width: var(--ul-width);
   transform: translateX(-11px);
   padding: 0;
   margin: auto;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.cardsContainer ul li {
   display: list-item;
   margin: 0 5px 10px;
   flex: none;
}

@media (min-width: 1100px) and (max-width: 1920px) {
   .cardsContainer ul{
      transform: translateX(-11px);
   }

   .cardsContainer ul li{
      width: var(--li-width-1100-1920);
   }
}

@media (min-width: 1920px) {
   .cardsContainer ul{
      width: var(--ul-width-1920);
      transform: translateX(-11px);
   }

   .cardsContainer ul li{
      width: var(--li-width-1920);
   }
}

@media (min-width: 800px) and (max-width: 1100px) {
   .cardsContainer ul{
      transform: translateX(-11px);
   }

   .cardsContainer ul li{
      width: var(--li-width-800-1100);
   }
}

@media (min-width: 500px) and (max-width: 800px) {
   .cardsContainer ul{
      transform: translateX(-11px);
   }

   .cardsContainer ul li{
      width: var(--li-width-500-800);
   }
}

@media (max-width: 500px) {
    .cardsContainer ul li{
      width: var(--li-width-500);
   }
}