.button {
   background: black;
   color: white;
   border-radius: 2px;
   min-width: 105px;
 }
 
 .button span {
   margin: 0 0.5rem;
 }

.button:hover,
.button:active {
   background: linear-gradient(103deg,#6157ff,#7067ff,#6157ff);
   font-weight: bolder;
}