.multiElements {
}

.multiElementsContent {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 4px 8px;
   background-color: white;
   border-radius: 5px;
   height: 38px;
}

.multiElementsContent > *{
   margin: 4px 8px 4px 0;
}

.multiElements textarea{
   resize: none;
   height: 24px;
   min-width: 120px;
   padding: 4px 0;
   background: transparent;
   border: 0;
   outline: none;
   flex-grow: 1;
}

.element {
   display: flex;
   max-width: 100%;
   background-color: #6257ff;
   color: rgb(0, 0, 0);
   border-radius: 3px;
   cursor: pointer;
}

.elementText {
   overflow: hidden;
   text-overflow: ellipsis;
}
