.navbar {
   width: 100%;
   height: 5rem;
   margin: 0;
   background-color: transparent;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: center; 
   align-items: center;
   z-index: 50;
   flex-wrap: wrap;

   transition: background-color, border-bottom-color .25s, .25s ease-out ;
}

.scrolledNavbar {
   background-color: black;
   border-bottom: 1px solid;
   border-bottom-color: rgba(255, 255, 255, 0.25);
   transition: background-color, border-bottom-color .25s, .25s ease-in ;
}

.navbar ul li h1 {
   color: #d7d7d7;
}

.navbar ul {
   width: 80%;
   margin: 0;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 10px;
}

.navbar ul li {
   display: inline-block;
   flex-grow: 1;
}

.searchbar {
   flex-grow: 4;
   flex-basis: 100%;
   min-width: 200px;
}